In [12]:
import nltk
import re

In [45]:
from nltk.tokenize import sent_tokenize, word_tokenize 
  
text = "Natural language processing (NLP) is a field of Computer  Science CYQPN1121P."

text = re.sub(r'[^\w\s]','',text)

In [46]:
words = word_tokenize(text)
print(words)

['Natural', 'language', 'processing', 'NLP', 'is', 'a', 'field', 'of', 'Computer', 'Science', 'CYQPN1121P']

In [47]:
count = 0

PAN = []

for word in words:
    if re.match(r'^[A-Z]{5}[0-9]{4}[A-Z]$', word):
        PAN.append(word)
        count = count + 1
        
print(count)

CYQPN1121P
1

In [ ]:
def validate_pan_number(value):
    """
    Validates if the given value is a valid PAN number or not, if not raise ValidationError
    """
    if re.match(r'^[A-Z]{5}[0-9]{4}[A-Z]$', value):
        return True
    else:
        raise ValidationError(
            '%(value)s is not valid PAN number',
            params={'value': value},
            )

In [27]:
import pandas as pd
tweet = pd.read_csv(r"C:\Users\shash\Downloads\archive (2)\Corona_NLP_train.csv", encoding = "latin-1")
tweet.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [28]:
for count in range(tweet.shape[0]):
    print(tweet["OriginalTweet"][count])

0        @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1        advice Talk to your neighbours family to excha...
2        Coronavirus Australia: Woolworths to give elde...
3        My food stock is not the only one which is emp...
4        Me, ready to go at supermarket during the #COV...
                               ...
41152    Airline pilots offering to stock supermarket s...
41153    Response to complaint not provided citing COVI...
41154    You know it?s getting tough when @KameronWilds...
41155    Is it wrong that the smell of hand sanitizer i...
41156    @TartiiCat Well new/used Rift S are going for ...
Name: OriginalTweet, Length: 41157, dtype: object

In [34]:
tweet = tweet.dropna()

In [35]:
tweet["Merged"] = tweet["UserName"].astype(str) + ' ' + tweet["ScreenName"].astype(str) + tweet["OriginalTweet"].astype(str) + tweet["Sentiment"].astype(str) + tweet["Location"]

C:\Users\shash\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
tweet

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,Merged
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral,3799 48751@MeNyrbie @Phil_Gahan @Chrisitv http...
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive,3800 48752advice Talk to your neighbours famil...
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive,3801 48753Coronavirus Australia: Woolworths to...
5,3804,48756,"ÜT: 36.319708,-82.363649",16-03-2020,As news of the region?s first confirmed COVID-...,Positive,3804 48756As news of the region?s first confir...
6,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive,3805 48757Cashier at grocery store was sharing...
...,...,...,...,...,...,...,...
41147,44946,89898,"Brooklyn, NY",14-04-2020,Y?all really shitting that much more at home??...,Negative,44946 89898Y?all really shitting that much mor...
41149,44948,89900,"Toronto, Ontario",14-04-2020,Still shocked by the number of #Toronto superm...,Negative,44948 89900Still shocked by the number of #Tor...
41150,44949,89901,OHIO,14-04-2020,I never that we?d be in a situation &amp; worl...,Positive,44949 89901I never that we?d be in a situation...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral,44951 89903Airline pilots offering to stock su...
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative,44955 89907@TartiiCat Well new/used Rift S are...

In [66]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

stop_words = set(stopwords.words('english'))  
  
word_tokens = word_tokenize(example_sent)  
  
filtered_sentence = [w for w in word_tokens if not w in stop_words]  
  
filtered_sentence = []  
  
for w in word_tokens:  
    if w not in stop_words:  
        filtered_sentence.append(w)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [73]:
f = open(r"C:\Users\shash\Downloads\archive (2)\Coursera.txt", "r")

text = f.read()

#text =  text.lower()

text = re.sub(r'[^\w\s]','',text)
text = word_tokenize(text)


stop_words = set(stopwords.words('english'))  

filtered_sentence = [w for w in text if not w in stop_words] 

filtered_sentence = []  
  
for w in text:  
    if w not in stop_words:  
        filtered_sentence.append(w)  

target_words = []
        
for w in filtered_sentence:
    
    if w == "understanding":
        target_words.append(w)
        
print(target_words)

['understanding']

In [57]:
# tweets = []
# tweet_text = tweet["Merged"]
# for count in range(tweet_text.shape[0]):
#     puctuations = (re.sub(r'[^\w\s]','',tweet_text[count]))
#     tweets.append(word_tokenize(puctuations))